<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome to Devzone Project Manager</title>
</head>
<body>
    <h1 class="title">Works</h1>
    <div class="works-btn">
        <button type="button" action="user.html" onclick="userInformation()">Profile  <i class="fa fa-user-circle-o" style="font-size:20px; color: dodgerblue;"></i></button>
        <button type="button" action="team.html" onclick="teamManager()">Team  <i class="fa fa-users" style="font-size:20px; color: dodgerblue;"></i></button>
        <button type="button" action="project.html" onclick="projectManager()">Project  <i class="fa fa-briefcase" style="font-size:20px; color: dodgerblue;"></i></button>
    </div>
    <script>
        const {ipcRenderer, remote} = require("electron");
        function userInformation() {
            ipcRenderer.send("userPage");
        }
        function teamManager() {
            ipcRenderer.send("teamPage");
        }
        function projectManager() {
            ipcRenderer.send("projectPage");
        }
    </script>
</body>
</html>