<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Project Manager</title>
</head>
<body>
    <a class="home-btn" href="login.html">
        <img src="image/logokien-signup.8641c4b2.png" style="width: 60px; height: 60px;">
    </a>
    <h1 class="title">Find Project</h1>
            <form name="findForm" method="GET">
                <label for="projectId" style="margin-right: 15px">Project ID:</label>
                <input type="text" name="projectId" id="projectId" placeholder="Insert Project ID"><br>
                <label for="projectTitle" >Project Title:</label>
                <input type="text" name="projectTitle" id="projectTitle" placeholder="Insert Project title"><br>
                <input id="projectSearch" type="submit" value="Find">
            </form>
    <h1 class="title">Create Project</h1>
            <form name="createForm" method="GET">
                <label for="projectTitle" style="margin-right: 118px">Project Title:</label>
                <input type="text" name="projectTitle" id="projectTitle" placeholder="Insert Project title"><br>
                <label for="projectDescription" style="margin-right: 67px">Project Description:</label>
                <input type="text" name="projectDescription" id="projectDescription" placeholder="Insert Project description"><br>
                <label for="projectIncome" style="margin-right: 95px">Project Income:</label>
                <input type="number" name="projectIncome" id="projectIncome" placeholder="Insert Project income"><br>
                <label for="projectEST" style="margin-right: 6.5px">Project estimated start time:</label>
                <input type="date" name="projectEST" id="projectEST" placeholder="Insert Project estimated start time"><br>
                <label for="projectEFT">Project estimated finish time:</label>
                <input type="date" name="projectEFT" id="projectEFT" placeholder="Insert Project estimated finish time"><br>
                <label for="projectRST" style="margin-right: 50px">Project real start time:</label>
                <input type="date" name="projectRST" id="projectRST" placeholder="Insert Project real start time"><br>
                <label for="projectRFT" style="margin-right: 44px">Project real finish time:</label>
                <input type="date" name="projectRFT" id="projectRFT" placeholder="Insert Project real finish time"><br>
                <label for="projectNote" style="margin-right: 112.5px">Project Note:</label>
                <input type="text" name="projectNote" id="projectNote" placeholder="Insert Project note"><br>
                <label for="projectServerCost" style="margin-right: 68px">Project Server Cost:</label>
                <input type="number" name="projectServerCost" id="projectServerCost" placeholder="Insert Project server cost"><br>
                <label for="projectIncurredCost" style="margin-right: 53px">Project Incurred Cost:</label>
                <input type="number" name="projectIncurredCost" id="projectIncurredCost" placeholder="Insert Project incurred cost"><br>
                <label for="projectMember" style="margin-right: 15px">Add Member:</label>
                <input id="projectMember" type="submit" value="+"><br>
                    <div id="memberList"></div>
                <input id="projectCreate" type="submit" value="Create">
            </form><br>
    <div id="message"></div><br>
    <table id="projectListTable" style="width:100%">
        <tr>
          <th style="font-weight: bold;">Project ID</th>
          <th style="font-weight: bold;">Title</th> 
          <th style="font-weight: bold;">Description</th>
          <th style="font-weight: bold;">Income</th>
          <th style="font-weight: bold;">Total Cost</th>
          <th style="font-weight: bold;">EST-EFT</th>
          <th style="font-weight: bold;">RST-RFT</th>
          <th style="font-weight: bold;">Created</th>
          <th style="font-weight: bold;">Note</th>
        </tr>
    </table>
    <script>
        const {ipcRenderer, remote} = require("electron");
        const session = remote.session;
        session.defaultSession.cookies.get({})
        .then((cookies) => {
        var tokenValue = "Bearer " + cookies[0].value;
        //Add more member when create project
        let memberCount=0;
        document.getElementById("projectMember").addEventListener("click",function(event){
            event.preventDefault();
            memberCount++;
            document.getElementById("memberList").innerHTML+=`
                <label for="member${memberCount}Username" style="margin-right: 15px">Member ${memberCount} username:</label>
                <input type="text" name="member${memberCount}Username" id="member${memberCount}Username" placeholder="Insert Member ${memberCount} username">
                <label for="member${memberCount}Pay" style="margin-right: 15px">Member ${memberCount} pay:</label>
                <input type="number" name="member${memberCount}Pay" id="member${memberCount}Pay" placeholder="Insert Member ${memberCount} pay"><br>
            `
        })
        //Get list project
        function listProject(){
            const request1 = remote.net.request({
                method: "GET",
                url:"http://localhost:4000/backend/projects/list",
                redirect: "follow"
            });
            request1.setHeader("Authorization",tokenValue);
            request1.on('response', (response) => { 
                console.log(`STATUS: ${response.statusCode}`); 
                console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                response.on('data', (chunk) => { 
                    var projectList = JSON.parse(chunk);
                    let i;
                    for (i=0;i<projectList.length;i++) {
                        projectList[i].expected_start_time = new Date(projectList[i].expected_start_time);
                        projectList[i].expected_finish_time = new Date(projectList[i].expected_finish_time);
                        projectList[i].real_start_time = new Date(projectList[i].real_start_time);
                        projectList[i].real_finish_time = new Date(projectList[i].real_finish_time);
                        projectList[i].created_at = new Date(projectList[i].created_at);
                    }
                    for (i=0;i<projectList.length;i++)
                        document.getElementById("projectListTable").innerHTML+=`
                            <tr>
                                <th>${projectList[i].id}</th>
                                <th>${projectList[i].title}</th> 
                                <th>${projectList[i].description}</th>
                                <th>${projectList[i].income}</th>
                                <th>${projectList[i].total_cost}</th>
                                <th>${projectList[i].expected_start_time} to ${projectList[i].expected_finish_time}</th>
                                <th>${projectList[i].real_start_time} to ${projectList[i].real_finish_time}</th>
                                <th>${projectList[i].created_at}</th>
                                <th>${projectList[i].note}</th>
                            </tr>
                        `
                }); 
            }); 
            request1.on('finish', () => { 
                console.log('Request is Finished') 
            }); 
            request1.on('abort', () => { 
                console.log('Request is Aborted') 
            }); 
            request1.on('error', (error) => { 
                console.log(`ERROR: ${JSON.stringify(error)}`) 
            }); 
            request1.on('close', (error) => { 
                console.log('Last Transaction has occured') 
            }); 
            request1.end(); 
        }
        listProject();
        //Find project
        document.getElementById("projectSearch").addEventListener("click",function(e){
            e.preventDefault();
            const projectId=document.forms['findForm']['projectId'].value;
            const projectTitle=document.forms['findForm']['projectTitle'].value;
            let url;
            if((projectId)&&(!projectTitle)){
                url=`http://localhost:4000/backend/projects/find?id=${projectId}`;
            }
            if((!projectId)&&(projectTitle)){
                url=`http://localhost:4000/backend/projects/find?name=${projectTitle}`;
            }
            if((projectId)&&(projectTitle)){
                alert("Required 1 parameter!");
            }
            if((!projectId)&&(!projectTitle)){
                alert("Content can not be empty!");
            }
            const request2=remote.net.request({
                method:"GET",
                url:url,
                redirect:"follow"
            });
            request2.setHeader("Authorization",tokenValue);
            request2.on('response', (response) => { 
                console.log(`STATUS: ${response.statusCode}`); 
                console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                response.on('data', (chunk) => { 
                    console.log(`BODY: ${chunk}`);
                    var data=JSON.parse(chunk);
                    ipcRenderer.send("projectDetail",data);
                }); 
            }); 
            request2.on('finish', () => { 
                console.log('Request is Finished') 
            }); 
            request2.on('abort', () => { 
                console.log('Request is Aborted') 
            }); 
            request2.on('error', (error) => { 
                console.log(`ERROR: ${JSON.stringify(error)}`)
            }); 
            request2.on('close', (error) => { 
                console.log('Last Transaction has occured') 
            }); 
            request2.setHeader('Content-Type', 'application/json'); 
            request2.end(); 
        })
        //----------------
        //Create New Project
        document.getElementById("projectCreate").addEventListener("click",function(e){
                e.preventDefault();
                var memberArray=[];
                let j;
                for (j=0;j<memberCount;j++) {
                    memberArray[j] = {
                        username:document.getElementById(`member${j+1}Username`).value,
                        pay:document.getElementById(`member${j+1}Pay`).value
                    }
                }
                var newProjectDetail = {
                    title:document.forms['createForm']['projectTitle'].value,
                    description:document.forms['createForm']['projectDescription'].value,
                    income:document.forms['createForm']['projectIncome'].value,
                    expected_start_time:document.forms['createForm']['projectEST'].value,
                    expected_finish_time:document.forms['createForm']['projectEFT'].value,
                    real_start_time:document.forms['createForm']['projectRST'].value,
                    real_finish_time:document.forms['createForm']['projectRFT'].value,
                    note:document.forms['createForm']['projectNote'].value,
                    member: memberArray,
                    cost: {
                        server:document.forms['createForm']['projectServerCost'].value,
                        cost_incurred:document.forms['createForm']['projectIncurredCost'].value
                    }
                }
                var body=JSON.stringify(newProjectDetail);
                const request = remote.net.request({
                    method:"POST",
                    url:"http://localhost:4000/backend/projects/create",
                    redirect:"follow"
                })
                request.setHeader("Authorization",tokenValue);
                request.on('response', (response) => { 
                    console.log(`STATUS: ${response.statusCode}`); 
                    console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                    response.on('data', (chunk) => { 
                        console.log(`BODY: ${chunk}`);
                        let newProjectData = JSON.parse(chunk);
                        if(response.statusCode==200){
                            document.getElementById("projectListTable").innerHTML+=`
                            <tr>
                                <th>${newProjectData.data.id}</th>
                                <th>${newProjectData.data.title}</th> 
                                <th>${newProjectData.data.description}</th>
                                <th>${newProjectData.data.income}</th>
                                <th>${newProjectData.data.total_cost}</th>
                                <th>${newProjectData.data.expected_start_time} to ${newProjectData.data.expected_finish_time}</th>
                                <th>${newProjectData.data.real_start_time} to ${newProjectData.data.real_finish_time}</th>
                                <th>${newProjectData.data.created_at}</th>
                                <th>${newProjectData.data.note}</th>
                            </tr>
                            `
                            document.getElementById("message").innerHTML=`<h2 class=message-success>Tạo Project thành công!!!</h2>`;
                        }
                        else {
                            document.getElementById("message").innerHTML=`<h2 class=message-error>Tạo Project thất bại!!! Lỗi:${newProjectData.message}</h2>`;
                        }
                    }); 
                }); 
                request.on('finish', () => { 
                    console.log('Request is Finished') 
                }); 
                request.on('abort', () => { 
                    console.log('Request is Aborted') 
                }); 
                request.on('error', (error) => { 
                    console.log(`ERROR: ${JSON.stringify(error)}`)
                    document.getElementById("message").innerHTML=`<h2 class=message-error>Tạo Project thất bại!!!</h2>`;
                }); 
                request.on('close', (error) => { 
                    console.log('Last Transaction has occured') 
                }); 
                request.setHeader('Content-Type', 'application/json');
                request.write(body, 'utf-8');
                request.end(); 
            })
        }).catch(error => {
            console.log(error);
        });
    </script>
</body>
</html>