<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
    <a class="home-btn" href="login.html">
        <img src="image/logokien-signup.8641c4b2.png" style="width: 60px; height: 60px;">
    </a>
    <div>
        <h1 class="title"></h1>
        <form name="form" method="POST">
            <label for="username" style="margin-right: 10px">Username:</label>
            <input type="text" required="username" name="username" id="username" placeholder="Insert username"><br>
            <input id="addMember" type="submit" value="Add member">
        </form><br>
    </div>
    <div id="teamMemberDiv"></div>
    <div id="message"></div>
    <script>
        const {ipcRenderer,remote}=require("electron");
        const session =remote.session;
            session.defaultSession.cookies.get({})
            .then((cookies) => {
                var tokenValue="Bearer "+cookies[0].value;
                ipcRenderer.on("teamList",function(event,data){
                console.log(data);
                document.getElementsByTagName("title")[0].innerHTML=`Team ${data.team_name}`;
                document.getElementsByTagName("h1")[0].innerHTML=`Team ${data.team_name}`;
                //Add member 
                document.getElementById("addMember").addEventListener("click",function(e){
                    e.preventDefault();
                        var body=JSON.stringify({
                            username:document.forms['form'][`username`].value,
                            team_id:data.team_id
                        })
                        const request=remote.net.request({
                            method:"PUT",
                            url:"http://localhost:4000/backend/teams/add-user",
                            redirect:"follow"
                        })
                        request.setHeader("Authorization",tokenValue);
                        request.on('response', (response) => { 
                            console.log(`STATUS: ${response.statusCode}`); 
                            console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                            response.on('data', (chunk) => { 
                                console.log(`BODY: ${chunk}`);
                                var newMember = JSON.parse(chunk);
                                if(response.statusCode==200){
                                    document.getElementById("message").innerHTML=`<h2 class=message-success>Thêm thành viên thành công!!! </h2>`;
                                    document.getElementById("teamMemberTable").innerHTML+=`
                                        <tr>
                                            <th>${newMember.data.user_id}</th>
                                            <th>${newMember.data.username}</th> 
                                            <th>${newMember.data.name}</th>
                                            <th>${newMember.data.mail}</th>
                                            <th><button type="button" class="delete-btn"><i class="fa fa-trash" style="font-size:24px; color:dodgerblue;"></i></button></th>
                                        </tr>
                                        `;
                                        deleteMember(newMember.data.username);
                                }
                                else {
                                    document.getElementById("message").innerHTML=`<h2 class=message-error>Thêm thành viên thất bại!!! Lỗi: ${newMember.message}</h2>`
                                }
                            }); 
                        }); 
                        request.on('finish', () => { 
                            console.log('Request is Finished') 
                        }); 
                        request.on('abort', () => { 
                            console.log('Request is Aborted') 
                        }); 
                        request.on('error', (error) => { 
                            console.log(`ERROR: ${JSON.stringify(error)}`)
                        }); 
                        request.on('close', (error) => { 
                            console.log('Last Transaction has occured');
                            document.getElementById("message").innerHTML=`<h2 class=message-error>Thêm thành viên thất bại!!!</h2>`;
                        }); 
                        request.setHeader('Content-Type', 'application/json'); 
                        request.write(body, 'utf-8'); 
                        request.end(); 
                })
                //List member
                let i;
                document.getElementById("teamMemberDiv").innerHTML=`
                <table id="teamMemberTable" style="width:100%">
                    <tr>
                        <th style="font-weight: bold;">User ID</th>
                        <th style="font-weight: bold;">Username</th> 
                        <th style="font-weight: bold;">Name</th>
                        <th style="font-weight: bold;">Mail</th>
                        <th style="font-weight: bold;">Action</th>
                    </tr>
                </table>
                `
                for (i=0;i<data.data.length;i++) {
                    document.getElementById("teamMemberTable").innerHTML+=`
                    <tr>
                        <th>${data.data[i].user_id}</th>
                        <th>${data.data[i].username}</th> 
                        <th>${data.data[i].name}</th>
                        <th>${data.data[i].mail}</th>
                        <th><button type="button" class="delete-btn"><i class="fa fa-trash" style="font-size:24px; color:dodgerblue;"></i></button></th>
                    </tr>
                    `;
                    deleteMember(data.data[i].username);
                }
                
                //Delete member
                function deleteMember(username) {
                    let deleteBtn = document.getElementsByClassName("delete-btn");
                    let j;
                    for(j=0;j<deleteBtn.length;j++) {
                        deleteBtn[j].addEventListener("click",function(){
                            console.log(data.team_id);
                            console.log(username);
                            var body=JSON.stringify({
                                username:username,
                                team_id:data.team_id
                            })
                            console.log(body);
                            const request=remote.net.request({
                                method:"PUT",
                                url:"http://localhost:4000/backend/teams/remove-user",
                                redirect:"follow"
                            })
                            request.setHeader("Authorization",tokenValue);
                            request.on('response', (response) => { 
                                console.log(`STATUS: ${response.statusCode}`); 
                                console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                                response.on('data', (chunk) => { 
                                    console.log(`BODY: ${chunk}`);
                                }); 
                            }); 
                            request.on('finish', () => { 
                                console.log('Request is Finished') 
                            }); 
                            request.on('abort', () => { 
                                console.log('Request is Aborted') 
                            }); 
                            request.on('error', (error) => { 
                                console.log(`ERROR: ${JSON.stringify(error)}`)
                            }); 
                            request.on('close', (error) => { 
                                console.log('Last Transaction has occured') 
                            }); 
                            request.setHeader('Content-Type', 'application/json'); 
                            request.write(body, 'utf-8'); 
                            request.end();
                            });
                    }
                }
            })
            }).catch((error) => {
                console.log(error)
        });
    </script>
</body>
</html>