<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User Information</title>
</head>
<body>
    <a class="home-btn" href="login.html">
        <img src="image/logokien-signup.8641c4b2.png" style="width: 60px; height: 60px;">
    </a>
    <h1 class="title">My Profile</h1>
    <div  class="userInformation">
        <div id="userInformation"></div><br>
        <button id="logout"><i class="fa fa-sign-out" style="font-size:20px; color:dodgerblue;"></i>  Logout</button>
    </div>
    <script>
        const {ipcRenderer,remote} = require("electron");
        const session =remote.session;
        session.defaultSession.cookies.get({})
        .then((cookies) => {
            var tokenValue="Bearer "+cookies[0].value;
            //Get information
            function getInformation(){
                const net = remote.net;
                const request = net.request({
                    method:"GET",
                    url:"http://localhost:4000/backend/users/information",
                    redirect:"follow",
                })
                request.setHeader("Authorization",tokenValue);
                request.on('response', (response) => { 
                    console.log(`STATUS: ${response.statusCode}`); 
                    console.log(`HEADERS: ${JSON.stringify(response.headers)}`); 
                    response.on('data', (chunk) => { 
                        console.log(`BODY: ${chunk}`)
                        var inn=JSON.parse(chunk);
                        document.getElementById("userInformation").innerHTML=`Username: ${inn[0].username}<br>Name: ${inn[0].name}<br>Mail: ${inn[0].mail}<br>Avatar: ${inn[0].avatar}`;
                    }); 
                }); 
                request.on('finish', () => { 
                    console.log('Request is Finished') 
                }); 
                request.on('abort', () => { 
                    console.log('Request is Aborted') 
                }); 
                request.on('error', (error) => { 
                    console.log(`ERROR: ${JSON.stringify(error)}`) 
                }); 
                request.on('close', (error) => { 
                    console.log('Last Transaction has occured') 
                }); 
                request.end();
            }
            getInformation();
        }).catch((error) => {
            console.log(error)
        });
        //Logout button
        document.getElementById("logout").addEventListener("click",function(){
            ipcRenderer.send("logout");
        })
    </script>
</body>
</html>